// ---- ---- fonts ---- ---- //
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
// ---- ---- colors ---- ---- //
$color_main: #ffffff;
$color_accent: #0093a1;
$color_light: #f3f4f1;
$color_bglight: #fefefe;
$color_dark: #262c27;
$color_hover: #b9c400;
$color_text: #262c27;
// ---- ---- body ---- ---- //
body {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  min-width: 300px;
  overflow-x: hidden;
  color: $color_text;
  background-color: $color_bglight;
}
.container {
  padding: 0 15px;
  max-width: 1230px;
  margin: 0 auto;
}
// ---- ---- menu ---- ---- //
.menu-btn {
  // display: none;
  position: absolute;
  top: 80px;
  right: 50px;
  width: 40px;
  height: 40px;
  z-index: 20;
  cursor: pointer;
  &__box {
    position: relative;
  }
  &__line {
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background-color: $color_accent;
    margin-bottom: 5px;
    transition: all 0.5s ease;
  }
  &__line--one {
    top: 10px;
  }
  &__line--two {
    top: 20px;
  }
  &__line--three {
    top: 30px;
  }
  &.menu-btn--active {
    .menu-btn__line--one {
      top: 20px;
      transform: rotate(45deg);
    }
    .menu-btn__line--two {
      transform: scale(0.01);
    }
    .menu-btn__line--three {
      top: 20px;
      transform: rotate(-45deg);
    }
  }
}
.menu {
  &__list {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    padding: 10px;
    cursor: pointer;
    z-index: 20;
  }
}
// ---- ---- title ---- ---- //
.title {
  &__h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 34px;
  }
  &__h2 {
    font-size: 44px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 100px;
  }
  &__h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
}
// ---- ---- slick arrow ---- ---- //
.slick-arrow {
  position: absolute;
  top: -40px;
  cursor: pointer;
  &__left {
    right: 60px;
  }
  &__right {
    right: 15px;
  }
}
.slick-dots {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;

  button {
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: $color_dark;
    border-radius: 50%;
    transition: all 0.3s;
  }
  .slick-active button {
    background-color: $color_accent;
  }
}
// ---- ---- padding-margin ---- ---- //
.project {
  padding: 100px 0 0;
}
