// ---- ---- media ---- ---- //
@media (max-width: 600px) {
  .header__inner {
    flex-direction: column;
  }
  .menu-btn {
    // display: none;
    position: absolute;
    top: 20px;
    right: 15px;
  }
}
