// ---- ---- reset ---- ---- //
@import 'slick.scss';
@import 'jquery.fancybox.scss';
@import 'normalize.scss';
@import 'myreset.scss';
@import 'global.scss';

// ---- ---- header ---- ---- //
.header {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  &__title {
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
  }
  &__clouds-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    overflow: hidden;
  }
  &__cloud {
    position: absolute;
    bottom: 0px;
    max-width: 100%;
    animation: clouds calc(9s * var(--i)) linear infinite;
  }
}
@keyframes clouds {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(110%);
  }
}
.contact {
  &__list {
  }
  &__item {
  }
  &__link {
  }
}
// ---- ---- project ---- ---- //
.project {
  min-height: 100vh;
  &__top {
  }
  &__title {
  }
  &__box {
  }
  &__item {
    padding: 5px;
    margin: 0 20px;
    background: linear-gradient(
      160deg,
      rgba(243, 244, 241, 1) 0%,
      rgb(232, 232, 237) 100%
    );
    border-radius: 10px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }
  &__card-box {
    position: relative;
    margin-bottom: 20px;
    &:hover .project__back {
      transform: translateY(0);
    }
  }
  &__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-200%);
    overflow: hidden;
    transition: all 0.7s ease;
  }
  &__img-box {
    margin-top: 5px;
  }
  &__img {
    width: 100%;
  }
  &__skills {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgba(242, 243, 241, 0.7);
  }
  &__skill {
    text-align: center;
    justify-self: center;
    svg {
      width: 40px;
      fill: $color_dark;
    }
    span {
      display: block;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
    }
    &:hover {
      svg {
        fill: $color_accent;
      }
    }
  }
  &__item-info {
    padding: 0 15px 10px;
  }
  &__descr {
    margin-bottom: 10px;
  }
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color_accent;
  }
  &__link-demo {
  }
  &__link-git {
  }
}

// ---- ---- about ---- ---- //
.about {
  &__title {
  }
}
// ---- ---- contacts ---- ---- //
.contacts {
  &__title {
  }
}
// ---- ---- media ---- ---- //
@import 'media.scss';
