// ---- ---- reset ---- ---- //
@import 'slick.scss';
@import 'jquery.fancybox.scss';
@import 'normalize.scss';
@import 'myreset.scss';
@import 'global.scss';

// ---- ---- Header ---- ---- //
.header {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
  }
  &__clouds-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    overflow: hidden;
  }
  &__cloud {
    position: absolute;
    bottom: 0px;
    max-width: 100%;
    animation: clouds calc(9s * var(--i)) linear infinite;
  }
}
@keyframes clouds {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(110%);
  }
}
// ---- ---- Cloud Tags ---- ---- //
.tags {
  position: absolute;
  top: calc(50% - 30vmin);
  left: calc(50% - 30vmin);
  height: 60vmin;
  width: 60vmin;
  opacity: 0;
}
.tags.-loaded {
  animation: fadeIn 1s ease-out forwards;
}
.tags .tag {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5vmin;
  font-weight: bold;
  transition: transform 0.5s linear, opacity 0.5s linear;
  animation: colorChange 20s infinite;
  pointer-events: all;
}
.tag > .tag__box {
  display: inline-block;
  transform: translateX(-50%) translateY(-50%);
}
@keyframes fadeIn {
  from {
    color: $color_accent;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes colorChange {
  0%,
  100% {
    color: $color_dark;
  }
  50% {
    color: $color_accent;
  }
}
// ---- ---- Projects ---- ---- //
.project {
  &__box {
    margin-bottom: 50px;
  }
  &__item {
    padding: 5px;
    margin: 0 20px 5px;
    background: linear-gradient(
      160deg,
      rgba(243, 244, 241, 1) 0%,
      rgb(232, 232, 237) 100%
    );
    border-radius: 10px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }
  &__card-box {
    position: relative;
    margin-bottom: 20px;
    &:hover .project__back {
      transform: translateY(0);
    }
  }
  &__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-200%);
    overflow: hidden;
    transition: all 0.7s ease;
  }
  &__img-box {
    margin-top: 5px;
  }
  &__img {
    width: 100%;
  }
  &__skills {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgba(242, 243, 241, 0.7);
  }
  &__skill {
    text-align: center;
    justify-self: center;

    img {
      display: inline-block;
      width: 40px;
    }
    span {
      display: block;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
    }
  }
  &__item-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 15px 10px;
  }
  &__descr {
    margin-bottom: 10px;
    flex-grow: 1;
  }
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color_accent;
  }
  &__link-demo {
    &:hover {
      text-decoration: underline;
    }
  }
  &__link-git {
    svg {
      transition: fill 0.3s ease;
    }

    &:hover {
      svg {
        fill: $color_accent;
      }
    }
  }
  &__waves-box {
    width: 100%;
  }
  &__more-text {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  &__more-link {
    display: inline-block;
    background-color: $color_dark;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

    svg {
      width: 150px;
      height: 45px;
      rect {
        transition: fill 0.3s ease;
      }
    }
    &:hover {
      background-color: $color_accent;
      svg {
        rect {
          fill: $color_accent;
        }
      }
    }
    &:active {
      transform: translateY(2px);
    }
    & + & {
      margin-left: 45px;
    }
  }
}
.fancy_image {
  cursor: zoom-in;
}
// ---- ---- Projects Waves ---- ---- //
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -107px;
  min-height: 50px;
  max-height: 100px;
}
.waves__about {
  margin-bottom: -65px;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
.parallax > use:nth-child(5) {
  animation-delay: -6s;
  animation-duration: 23s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
// ---- ---- About Me---- ---- //
.about {
  &__waves {
    transform: rotate(180deg);
  }
  &__box {
    display: flex;
  }
  &__inner {
    max-width: 575px;
    margin-right: 40px;
    &:hover .about__text-hover {
      color: $color_accent;
    }
  }
  &__text {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  &__text-color {
    color: $color_accent;
  }
  &__text-hover {
    transition: color 0.3s ease;
  }
  &__skill-text {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 25px;
  }
}
// ---- ---- Skills ---- ---- //
.skill {
  &__box {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 50px 30px;
  }
  text-align: center;
  justify-self: center;
  &__img {
    display: inline-block;
    width: 50px;
    transition: fill 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }
  &__name {
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
  }
  &:hover {
    color: $color_accent;
    svg {
      fill: $color_accent;
      transform: scale(1.1);
    }
  }
}
// ---- ---- Contacts ---- ---- //
.contacts {
  &__title {
    margin-bottom: 50px;
  }
  &__text {
    max-width: 400px;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 25px;
  }
  &__box {
    position: relative;
    padding-bottom: 35px;
    overflow: hidden;
  }
  &__items {
    display: flex;
    align-items: center;
    gap: 0 25px;
  }
  &__item-text {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 10px;
    font-size: 20px;
    transform: translateY(200%);
    transition: transform 0.5s linear;
  }
  &__link {
    svg {
      display: flex;
      width: 45px;
      height: 45px;
      transition: fill 0.3s ease;
    }
    &:hover {
      svg {
        fill: $color_accent;
      }
    }
    &:active {
      svg {
        transform: translateY(2px);
      }
    }
  }
}
.contacts__link:hover + .contacts__item-text {
  transition: transform 0.5s linear;
  transform: translateY(0%);
}
.contacts__item-text:hover {
  transition: transform 0.5s linear;
  transform: translateY(0%);
}
// ---- ---- Footer ---- ---- //
.footer {
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color_accent;
  }
  padding: 25px 0;
  text-align: center;
}
.footer__heart.footer__heart--active {
  display: inline-block;
  animation: heart 5s linear infinite;
}
@keyframes heart {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
// ---- ---- Bg Animation ---- ---- //

.bg-animated {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &__div {
    position: absolute;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 6px solid rgba(177, 221, 226, 0.8);
  }
  &__div--one {
    top: 50%;
    left: 42%;
    animation: bg-animate 10s linear infinite;
  }
  &__div--two {
    top: 70%;
    left: 50%;
    animation: bg-animate 7s linear infinite;
  }
  &__div--three {
    top: 27%;
    left: 6%;
    animation: bg-animate 9s linear infinite;
  }
  &__div--four {
    top: 39%;
    left: 60%;
    animation: bg-animate 10s linear infinite;
  }
  &__div--five {
    top: 67%;
    left: 10%;
    animation: bg-animate 6s linear infinite;
  }
  &__div--six {
    top: 93%;
    left: 70%;
    animation: bg-animate 12s linear infinite;
  }
  &__div--seven {
    top: 60%;
    left: 80%;
    animation: bg-animate 15s linear infinite;
  }
  &__div--eight {
    top: 32%;
    left: 25%;
    animation: bg-animate 16s linear infinite;
  }
  &__div--nine {
    top: 90%;
    left: 25%;
    animation: bg-animate 9s linear infinite;
  }
  &__div--ten {
    top: 33%;
    left: 90%;
    animation: bg-animate 5s linear infinite;
  }
}
@keyframes bg-animate {
  0% {
    transform: scale(0) translateY(-90px) rotate(360deg);
    opacity: 1;
  }

  100% {
    transform: scale(1.3) translateY(-90px) rotate(-180deg);
    border-radius: 50%;
    opacity: 0;
  }
}

// ---- ---- Media ---- ---- //
@import 'media.scss';
